.accordion {
  $accordion: &;

  &__title {
    @apply text-2xl py-3 cursor-pointer;
  }

  &__par {
    @apply text-xl px-5 max-h-[0] overflow-y-hidden;
    transition: position .25s ease;
    transition: 0.5s ease-in-out;
  }

  &__item {
    @apply mb-5 rounded-xl cursor-pointer;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);

    &--active {
      #{$accordion}__icon {
        @apply rotate-180;
      }

      #{$accordion}__par {
        @apply p-5 max-h-[120rem];
      }
    }
  }

  &__header {
    @apply flex justify-between px-5 items-center rounded-xl transition-colors;

    &:hover {
      @apply bg-black/[0.05];
    }
  }

  &__icon {
    @apply relative transition-transform;

    &:after {
      content: '';
      @apply w-6 h-6 rounded-full absolute left-[50%] top-0 translate-x-[-50%] drop-shadow-lg;
      background-image: linear-gradient(135deg, #b24592 0%, #f15f79 100%);
    }

    .fa {
      @apply relative z-10 mt-1 bg-clip-text font-bold;
      background-image: linear-gradient(135deg, #fff 0%, #fff 100%);
      -webkit-text-fill-color: transparent;
    }
  }
}
