.nav {
  $nav: &;
  @apply flex flex-col items-center;
  @include twMob('lg', 'flex-row');

  &__item {
    @apply mr-2 px-2 pt-1;
  }

  &--menu {
    #{$nav}__link {
      @apply inline-block transition border-2 border-transparent border-solid;

      &:hover,
      &.active {
        @apply border-b-[#F53838];
      }
    }
  }

  &--filters {
    @apply flex flex-row flex-wrap;

    #{$nav}__item {
      @apply text-base basis-1/2 m-0;
      @include twMob('lg', ('basis-[auto]'));
      font-family: font('Lora');
    }

    #{$nav}__link {
      @apply transition border-2 border-transparent border-solid;

      &:hover,
      &.active {
        @apply border-b-[#F53838];
      }
    }
  }

  &--col {
    @apply flex flex-col items-center;
    @include twMob('lg', ('items-start'));

    #{$nav}__item {
      @apply p-0 mb-5;
    }
  }

  &--categories {
    @apply flex flex-col items-start text-left list-disc;

    ul {
      @apply text-lg list-disc mt-3;
      @include twMob('lg', ('pl-2'));

      li {
        @apply pb-1;
      }

      ul {
        @include twMob('lg', ('pl-5'));
      }
    }

    #{$nav}__item {
      @apply pb-3;
    }

    #{$nav}__link {
      @apply text-xl;
    }
  }
}
