.center-heading {
  @apply text-center;

  .section-title {
    @apply text-[28px] text-[#3B566E] tracking-wide leading-9 mb-5;
  }

  &.colored {
    .section-title {
      @apply text-white;
    }
  }
}

.center-text {
  @apply text-center text-base text-[#6F8BA4] leading-7 mb-10;

  &.colored {
    @apply text-[#C7E5FF];
  }

  p {
    @apply mb-8;
  }
}

.services-small-item {
  @apply block bg-white rounded-md text-center relative z-20 mb-8;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  padding: 40px 28px;
  transition: all 0.3s ease 0s;

  &:before {
    @apply absolute w-full h-full top-0 left-0 rounded-md opacity-0;
    content: '';
    background-image: linear-gradient(135deg, #b24592 0%, #f15f79 100%);
    transition: all 0.3s ease 0s;
    opacity: 0;
  }

  &.active:before,
  &:hover:before {
    @apply opacity-100;
  }

  &.active .icon:before,
  &:hover .icon:before {
    @apply opacity-25;
  }

  &:hover {
    @apply mt-[-15px];
  }

  &.active .icon i,
  &:hover .icon i {
    background: -webkit-linear-gradient(#fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.active .services-title,
  &:hover .services-title {
    @apply text-white;
  }

  &.active p,
  &:hover p {
    @apply text-white;
  }

  &.active .button i,
  &:hover .button i {
    background-image: linear-gradient(135deg, #fff 0%, #fff 100%) !important;
    color: #2b708b !important;
  }

  &:hover + .item-bg {
    @apply bottom-6;
  }

  .icon {
    width: 139px;
    height: 113px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    transition: all 0.3s ease 0s;

    i {
      display: block;
      height: 67px;
      line-height: 67px;
      position: absolute;
      width: 100%;
      top: 22px;
      z-index: 2;
      font-size: 28px;
      background-image: linear-gradient(135deg, #b24592 0%, #f15f79 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease 0s;
    }
  }

  .services-title {
    font-weight: 400;
    font-size: 16px;
    color: #3B566E;
    letter-spacing: 0.7px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease 0s;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    letter-spacing: 0.88px;
    line-height: 26px;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease 0s;
    margin-bottom: 30px;
  }

  .button {
    position: relative;
    z-index: 2;

    i {
      width: 42px;
      height: 42px;
      background-image: linear-gradient(135deg, #b24592 0%, #f15f79 100%);
      line-height: 42px;
      text-align: center;
      border-radius: 100px;
      color: #fff;
      padding-left: 3px;
    }
  }
}
