html {
  font-family: font(Spartan);
}

.container {
  @apply p-5 text-[#0B132A] text-center max-w-[100%] w-full;
  @include twMob('md', ('mx-auto', 'max-w-[1300px]'));
  @include twMob('lg', ('text-left'));
}
