.list {
  $list: &;
  @apply text-sm text-[#4F5665];

  &__accent {
    @apply
    text-center mt-5 text-xl
    md:text-right md:mt-16
    lg:mt-28;
  }

  &--checkmarks {
    #{$list}__element {
      @apply flex items-center flex-row mb-5;

      &--unchecked {
        &::before {
          @apply bg-orange-400;
        }
      }

      &--checked {
        &::before {
          @apply bg-green-500;
        }
      }

      &::before {
        content: '';
        @apply w-5 h-5 min-w-[20px] inline-block rounded-full mr-5;
      }
    }
  }

  &--entries {
    @apply flex mx-[-10px] flex-wrap;

    #{$list}__element {
      @apply w-full px-[10px] mb-10;
      @include twMob('md', ('basis-1/2'));
      @include twMob('lg', ('basis-1/4'));
    }

    #{$list}__excerpt {
      @apply text-slate-500 my-3;
    }

    #{$list}__date {
      @apply text-slate-500 my-3;
      font-family: font(Lora);
    }

    #{$list}__photo {
      @apply h-[280px] relative;

      .tag {
        @apply absolute top-5 right-5 text-white;
      }

      img {
        @apply h-full rounded-md min-h-[280px] w-full;
      }
    }
  }

  &--inside {
    @apply flex-nowrap;

    #{$list}__element {
      @apply relative w-full;
      @include twMob('md', ('basis-1/2 flex-wrap'));
      @include twMob('lg', ('basis-1/3'));

      &--white * {
        @apply text-white;
      }

      &--black * {
        @apply text-black;
      }
    }

    #{$list}__content {
      @apply absolute bottom-0 p-3;
      @include twMob('md', ('p-5'));
      @include twMob('lg', ('p-10'));
    }

    #{$list}__photo {
      @apply h-[350px] relative;

      .tag {
        @apply absolute top-5 right-5;
      }
    }
  }

  &--static {
    @apply flex-col;
    @include twMob('md', ('flex-row'));
  }

  &--tags {
    @apply flex;

    #{$list}__element {
      @apply mr-2;
    }
  }

  &--services {
    @apply flex mx-[-10px] flex-wrap;

    #{$list}__element {
      @apply px-3 ;
      @include twMob('md', ('basis-1/2'));
      @include twMob('lg', ('basis-1/4'));
    }
  }
}
