/**
 * Helper mixins
*/
@mixin twMob($type, $list) {
  @each $prop in $list {
    @apply #{$type}:#{$prop};
  }
}

@mixin flex-center() {
  @apply flex flex-col items-center justify-center;
}

@mixin icon-clip($firstColor, $secondColor) {
  background: linear-gradient(135deg, $firstColor 0%, $secondColor 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin absolute-center() {
  @include flex-center();
  @apply absolute top-0 w-full h-full;
}

/**
 * Helper functions
*/
@function font($name) {
  @if $name == 'Spartan'  {
    @return 'League Spartan', sans-serif;
  }
  @if $name == 'Lora'  {
    @return 'Lora', serif;
  }
}
